.MyName{
  text-align: center;
  color: White;
  font-size: 15vh;
  font-weight: 900;
  font-family: 'Heebo', sans-serif;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 100px;
  padding-top: 90px;
}
.icons-container {
  display: flex;
  align-items: center; 
}

.Icon {
  font-size: 24px; 
  margin-right: 10px;
}
.pcards-header{
  padding-top: 150px;
  padding-bottom: 70px;
  color: white;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
}
