body{
  overflow-x: hidden !important;
}
.skillcar:hover{

  background-color: aqua;

}
/*###########################################################################################*/

.icone-skill-html{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #E96228;
}.icone-skill-css{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #254BDD;
}.icone-skill-js{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #facb0d;
}.icone-skill-react{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #61DBFB;
}.icone-skill-nodejs{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #6CB64D;
}.icone-skill-php{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #7377AD;
}.icone-skill-python{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #6d86b5;
}.icone-skill-tail{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #07B0CE;
}



.icone-skill-mysql{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #f89a03;
}.icone-skill-mongo{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #4EAD3E;
}.icone-skill-maria{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #BA7257;
}.icone-skill-postgres{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #31648C;
}.icone-skill-github{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
}.icone-skill-vscode{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #3994CF;
}.icone-skill-postman{
  font-size:90px;
  text-align: center !important;
  padding-left:20px;
  color: #F76935;
}



.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 0px;
  gap: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: 1s;
  color:rgb(255, 255, 255);
}

.each {
  text-align: center;
  background: transparent;
  height: 170px;
  width: 170px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}


.each .box {
  padding: 25px;
  text-align: center;
}


.each .box .content h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0px;
}

.each .box .content p {
  font-size: 12px;
  margin: 0;
}


.center {
  position: absolute;
  height: 160px;
  width: 160px;
  background: #000000;
  color:#FFDE59;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-radius: 108px;
  border: 10px solid #e8edf5;
}

.center .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#root > div > div.cont > div > div:nth-child(5) > div > li {
  font-size: 20px;
  font-weight: 100;
}

/*###########################################################################################*/
.skill-cont {
  display: flex;
  justify-content: space-around;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .skill-cont {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }
  .skill-cont > * {
    margin-bottom: 10px; /* Add spacing between items */
  }
}

.MyName{
  cursor: pointer;
  text-align: center;
  color: White;
  font-size: 6vh;
  margin: 20px;
  font-weight: 700;
  font-family: 'Heebo', sans-serif;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 100px;
  padding-top: 90px;
}
.icons-container {
  display: flex;
  align-items: center; 
}

.Icon {
  font-size: 24px; 
  margin-right: 10px;
}
.pcards-header{
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
}
