@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

::selection {
  background: none;
}
.background-container {
  position: relative; /* Position the container */
}

.background {
  background-color: #e9151500;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='1.5' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23000' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%232e1000' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23341e00' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%233d2b00' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23483800' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23554500' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23645300' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23746100' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23847000' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23957f00' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23a68e00' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23b89d0c' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23c9ad25' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23dbbd37' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23edcd48' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23FFDE59' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: -10px;
  
  width: 100%;
  height: 100%;
   /* Place the background behind other content */
}
/* */

body, html {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  background:rgb(0, 0, 0);
}
.cards{
  width: 228px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  border: 1px solid #0000005d;
  text-align: -webkit-center;
}
.cont{
  padding-top: 10%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px; /* Adjust spacing between cards */
  margin: 60px; /* Negative margin to counteract outer spacing */
  justify-content:center;
  text-align: center;
  margin-top:0px;
}

/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  align-items:center;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.card {
  flex: 1;
  max-width: calc(33.33% - 20px); /* Adjust card width for responsiveness */
  box-sizing: border-box;
  margin: 10px;
  
}

@media (max-width: 768px) {
  .card {
    max-width: calc(50% - 20px); /* Adjust card width for smaller screens */
  }
}




.tysm {
  background: rgb(218, 92, 92) !important;
  width: 100%;
  max-width: 100%;
  text-align: center !important;
  font-size: 4.5vw; /* Adjust the font size using viewport units */
  font-family: 'Rubik', sans-serif;
  color: #000;
  padding-bottom: 27vh; /* Adjust the padding using viewport units */
  overflow: hidden;
  white-space: nowrap;
}

#root > div > div.tysm > div {
  padding-top: 43vh; /* Adjust the padding using viewport units */
}

#root > div > div.tysm > span {
  padding-top: 15vh; /* Adjust the padding using viewport units */
}



button,a{
    -webkit-tap-highlight-color: transparent !important; /* Disable click trace on mobile devices */
  }

button{
  background-color: #ffffff00;
}
.dark:bg-gray-900{
  box-shadow: 0px 13px 25px #CB6CE6;
}

ul.flex.flex-col.p-4.md\:p-0.mt-4.font-medium.border.border-gray-100.rounded-lg.bg-gray-50.md\:flex-row.md\:space-x-8.md\:mt-0.md\:border-0.md\:bg-white.dark\:bg-gray-800.md\:dark\:bg-gray-900.dark\:border-gray-700{
  background-color: rgba(0, 0, 0, 0);
  font-size: 17px;
  border: none;
}
#navbar-sticky > ul > li:nth-child(1n+1) > a:hover,
#navbar-sticky > ul > li:nth-child(3n+1) > a:hover,
#navbar-sticky > ul > li:nth-child(2n+1) > a:hover {
  color: #e0e0e0;
  background-color: transparent;
}
div#navbar-sticky{
  animation: aff 0.2s;
}


@media only screen and (max-width: 767px) {
@keyframes aff{
    from {
      transform:translateY(-30px);
opacity:0;
    }
    to {
      transform:translateY(0);
opacity:1;
    }
  }
  .bn3637{
    display:none !important;
  
  }
  .btndrop{
    display: inline-flex !important;
    margin-top: 10px !important;
  }
  .relative.h-full.w-full.m-auto.p-4.md\:h-auto.max-w-md {
    margin-top: 15px;
    
  }
  .mn{
    display: inline-flex !important;
    
  }
  .md\:dark\:text-blue-500{
    color: black !important;
    background-color: transparent;
  }
/* padding: 0.1rem 0.9rem !important;
    margin-right: 10px; */

}
.aa:hover{
  color: #CB6CE6;
}
h1{
  color: #000;
}
.navba{
  background: -moz-linear-gradient(360deg,  #1b1b1b4d 0%, #00000087 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(360deg,  #1b1b1b4d 0%,#00000087 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(360deg,  #1b1b1b4d 0%,#00000087 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.808) !important; 
  border:none !important;
  color:white !important;
  backdrop-filter: blur(6px);
  border-radius:25px;
  margin: 14px 0px 0px 0px;

  }
.md\:dark\:text-blue-500{
  color:#ffd105 !important;
  background: #00000000 !important;

}
.h-modal{
  height: calc(100% - 0%);
}


.heading {
  color: #ffffff;
}

.button {
  background-color: #363636;
  color: #ffffff;
  border-color: #ffffff;
}

.h-56{
  height: 200rem;
}
.log{
  width: auto;
  padding: 30px;

}
Link:hover{
  color: #CB6CE6;
}
.fixed.top-0.right-0.left-0.z-50.h-modal.overflow-y-auto.overflow-x-hidden.md\:inset-0.md\:h-full.items-center.justify-center.flex.bg-gray-900.bg-opacity-50.dark\:bg-opacity-80.logi.fixed.top-0.right-0.left-0.z-50.h-modal.overflow-y-auto.overflow-x-hidden.md\:inset-0.md\:h-full.items-center.justify-center.flex.dark\:bg-opacity-0.backdrop-blur-sm{
  background-color: #00000049;
}
.dark\:bg-gray-700{
  background: #000 !important;
  animation: scale-animation 0.1s ;
}
@keyframes scale-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
a:hover{
  color:#CB6CE6;
}
.text-gray-400{
  color: white;
}

.md\:dark\:text-blue-500{
  color: black !important;
  background-color: #f1f1f1;
  font-weight:800;
}
@media only screen and (max-width: 1024) {
  ul.flex.flex-col.p-4.md\:p-0.mt-4.font-medium.border.border-gray-100.rounded-lg.bg-gray-50.md\:flex-row.md\:space-x-8.md\:mt-0.md\:border-0.md\:bg-white.dark\:bg-gray-800.md\:dark\:bg-gray-900.dark\:border-gray-700{
    background: transparent !important;
  }
}
.md\:dark\:text-blue-500 {
    --tw-text-opacity: 1;
    color: #FFDE59 !important;
    font-weight: 700;
}
body > div:nth-child(3) > div > div > div > div.flex.items-start.justify-between.rounded-t.dark\:border-gray-600.border-b.p-5.\!p-2.\!border-b-0 > button{
  background-color: #ffffff !important;
  color:black;
  
}
.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 1rem;

}
.btndrop{
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}
.bndp{
  border-color: transparent;
  background-color: #fcfcfc !important;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
button.inline-flex.items-center.p-2.text-sm.text-gray-500.rounded-lg.md\:hidden.hover\:bg-gray-100.focus\:outline-none.focus\:ring-2.focus\:ring-gray-200.dark\:text-gray-400.dark\:hover\:bg-gray-700.dark\:focus\:ring-gray-600{
  background-color: transparent !important;
}
.dark\:hover\:bg-gray-700:hover{
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.bn37 {
  border-color: transparent;
  background-color: #fcfcfc !important;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
  
.bn37:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.logs{
  padding: 0px;
  color: white !important;
}
body > div:nth-child(3) > div > div > div > div.p-6.pt-0 > div > div.flex.justify-between > div > label,
body > div:nth-child(3) > div > div > div > div.p-6.pt-0 > div > div:nth-child(3) > div.mb-2.block > label,
body > div:nth-child(3) > div > div > div > div.p-6.pt-0 > div > div:nth-child(2) > div.mb-2.block > label{
 color: #b3b3b3;
 --tw-text-opacity:1;
}
:is(.dark .dark\:ring-offset-gray-800) {
  --tw-ring-offset-color: #1473f7;
}
input{
  color:white !important;
}

.coal{
  margin-right: 10px !important;
}
@media only screen and (max-width: 2560px){
  .log{
    margin: 0 auto;
    max-width:700px;
  }   
}


  


  /* ################## */

.emaillabel,.passlabel,.msglabel{
  color: rgb(236, 236, 236);
}
Textarea{
  color:white !important;
}

#root > div > div.Ty > span > span:nth-child(1){
  background-color: #00000000;
  color: #ab00c2;
}
#root > div > div.Ty > span > span.typed-cursor.typed-cursor--blink{
  background-color: #000;
  color:black !important;
}
body > div:nth-child(5) > div > div > div > div.flex.items-start.justify-between.rounded-t.dark\:border-gray-600.border-b.p-5.\!p-2.\!border-b-0 > button{
  background-color: white !important;
  color:black;
}
TextInput:focus,
Select:focus,
Textarea:focus{
    outline: none;
}
#password:focus{
    outline: none;
}
.bn3637{
  text-align: center !important;
}
.small-text {
  font-size: 12px;
}
.bg-sky-500 {
  --tw-bg-opacity: 1;
  background-color: pink;
}
.bg-sky-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(255, 255, 255);
}
